/*
 * Copyright (c) 2015. The content in this file is Protected by the copyright laws of kenya and owned by Api Craft Technology.
 * Reproducing it in any way or using it without permission from Api Craft Technology will be a violation of kenyan copyrights law.
 * This may be subject to prosecution according to the kenyan law.
 */

/* iCheck plugin Minimal skin, orange
----------------------------------- */
.icheckbox_minimal-orange,
.iradio_minimal-orange {
	display: inline-block;
	*display: inline;
	vertical-align: middle;
	margin: 0;
	padding: 0;
	width: 18px;
	height: 18px;
	background: url(orange.png) no-repeat;
	border: none;
	cursor: pointer;
}

.icheckbox_minimal-orange {
	background-position: 0 0;
}

.icheckbox_minimal-orange.hover {
	background-position: -20px 0;
}

.icheckbox_minimal-orange.checked {
	background-position: -40px 0;
}

.icheckbox_minimal-orange.disabled {
	background-position: -60px 0;
	cursor: default;
}

.icheckbox_minimal-orange.checked.disabled {
	background-position: -80px 0;
}

.iradio_minimal-orange {
	background-position: -100px 0;
}

.iradio_minimal-orange.hover {
	background-position: -120px 0;
}

.iradio_minimal-orange.checked {
	background-position: -140px 0;
}

.iradio_minimal-orange.disabled {
	background-position: -160px 0;
	cursor: default;
}

.iradio_minimal-orange.checked.disabled {
	background-position: -180px 0;
}

/* Retina support */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
	.icheckbox_minimal-orange,
	.iradio_minimal-orange {
		background-image: url(orange@2x.png);
		-webkit-background-size: 200px 20px;
		background-size: 200px 20px;
	}
}
