/*
 * Copyright (c) 2015. The content in this file is Protected by the copyright laws of kenya and owned by Api Craft Technology.
 * Reproducing it in any way or using it without permission from Api Craft Technology will be a violation of kenyan copyrights law.
 * This may be subject to prosecution according to the kenyan law.
 */

/* iCheck plugin Flat skin, purple
----------------------------------- */
.icheckbox_flat-purple,
.iradio_flat-purple {
	display: inline-block;
	*display: inline;
	vertical-align: middle;
	margin: 0;
	padding: 0;
	width: 20px;
	height: 20px;
	background: url(purple.png) no-repeat;
	border: none;
	cursor: pointer;
}

.icheckbox_flat-purple {
	background-position: 0 0;
}

.icheckbox_flat-purple.checked {
	background-position: -22px 0;
}

.icheckbox_flat-purple.disabled {
	background-position: -44px 0;
	cursor: default;
}

.icheckbox_flat-purple.checked.disabled {
	background-position: -66px 0;
}

.iradio_flat-purple {
	background-position: -88px 0;
}

.iradio_flat-purple.checked {
	background-position: -110px 0;
}

.iradio_flat-purple.disabled {
	background-position: -132px 0;
	cursor: default;
}

.iradio_flat-purple.checked.disabled {
	background-position: -154px 0;
}

/* Retina support */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5) {
	.icheckbox_flat-purple,
	.iradio_flat-purple {
		background-image: url(purple@2x.png);
		-webkit-background-size: 176px 22px;
		background-size: 176px 22px;
	}
}
