/*
 * Copyright (c) 2015. The content in this file is Protected by the copyright laws of kenya and owned by Api Craft Technology.
 * Reproducing it in any way or using it without permission from Api Craft Technology will be a violation of kenyan copyrights law.
 * This may be subject to prosecution according to the kenyan law.
 */

/*
   All form elements including input, select, textarea etc.
-----------------------------------------------------------------
*/

&.form-control {

	.border-radius(@input-radius) !important;
	box-shadow: none;

	&:focus {
		border-color: @light-blue !important;
		box-shadow: none;
	}

}

.form-group {
	&.has-success {
		label {
			color: @green;
		}
		.form-control {
			border-color: @green !important;
			box-shadow: none;
		}
	}

	&.has-warning {
		label {
			color: @yellow;
		}
		.form-control {
			border-color: @yellow !important;
			box-shadow: none;
		}
	}

	&.has-error {
		label {
			color: @red;
		}
		.form-control {
			border-color: @red !important;
			box-shadow: none;
		}
	}
}

/* Input group */
.input-group {
	> .input-group-btn > .btn {

	}
	.input-group-addon {
		border-radius: 0;
		background-color: #f4f4f4;
	}
}

/* button groups */
.btn-group-vertical {
	.btn {
		&.btn-flat:first-of-type, &.btn-flat:last-of-type {
			border-radius: 0;
		}
	}
}

/* Checkbox and radio inputs */
.checkbox, .radio {
	padding-left: 0;
}
